@charset "utf-8";

// Import Bulma (using standard import)
@import "bulma/css/bulma.css";

// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

// Custom color variables
$background-color: #ffffff;
$text-color: #000000;
$blue: #3f99e4;
$card-color: $blue;
$orange: #c71414;
$red: #f16780;
$yellow: #fb9d38;

// Override Bulma CSS variables
:root {
  --bulma-primary: #{$red};
  --bulma-primary-h: 352;
  --bulma-primary-s: 83%;
  --bulma-primary-l: 73%;
  --bulma-link: #{$blue};
  --bulma-success: #{$blue};
}

html {
  background-color: $background-color;
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 50px 0px;
}

.backToTop {
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $red;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  line-height: 50px;
  svg {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

.red-background {
  background-color: $red;
}

.blue-background {
  background-color: $blue;
}

.yellow-background {
  background-color: $yellow;
}

.skills {
  border-radius: 10px;
}

.skill-card {
  height: 550px;
  color: $text-color;
  padding-top: 20px;
}

// Custom timeline styles (replacing bulma-timeline)
// Center point at 16px, marker 12px, line 2px
.timeline {
  position: relative;
  padding-left: 0 !important; // Override Bulma column padding
  margin-left: 3rem; // Add space on left for mobile

  // Single continuous vertical line - centered at 16px
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px; // 16 - 1 (half of 2px line)
    width: 2px;
    background-color: $red;
  }

  .timeline-header {
    position: relative;
    z-index: 1;
    margin: 1rem 0;
    padding-left: 40px;

    .tag {
      // Center tag at 16px
      margin-left: -24px;
      transform: translateX(-50%);
    }
  }

  .timeline-item {
    position: relative;
    padding-left: 40px;
    padding-bottom: 1rem;

    .timeline-marker {
      position: absolute;
      left: 10px; // 16 - 6 (half of 12px marker)
      top: 4px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $red;
      z-index: 1;
    }

    .timeline-content {
      .date {
        font-size: 1.25rem;
      }

      .event {
        font-size: 1.25rem;
        font-weight: bold;
      }

      .institution {
        font-style: italic;
        font-weight: bold;
      }
    }
  }
}

.project-card {
  margin-left: auto;
  margin-right: auto;
  color: $text-color;

  img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
  }

  .center-image {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  background-color: $yellow;
  a {
    color: $text-color;
  }
  padding: 50px 0px 20px 0px;
}

.icon-size {
  vertical-align: bottom;
  margin: 0px 5px;
}
