@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$background-color: #ffffff;
$text-color: #000000;
$blue: #3f99e4;
$card-color: $blue;
$orange: #c71414;
// $red: #da919e;
$red: #f16780;
$yellow: #fb9d38;

$title-weight: 600;
$subtitle-line-height: 1.5;
$primary: $red;
$primary-invert: black;
$success: $card-color;
$success-invert: black;
$timeline-line-color: $red;
$timeline-marker-color: $red;
$navbar-background-color: $background-color;
$navbar-item-hover-background-color: darken($background-color, 10%);
$navbar-item-hover-color: $text-color;
// $card-content-background-color: $card-color;
$card-content-padding: 0.5rem 1rem 1.5rem 1rem;

@import "~bulma/bulma.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";

html {
  background-color: $background-color;
  // background-image: linear-gradient(to right, #e9a837, #f4f3e9);
}

body {
  font-family: "Raleway", sans-serif;
}

section {
  padding: 50px 0px;
}

.backToTop {
  z-index: 10;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $red;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  line-height: 50px;
  svg {
    display: block;
    margin: 0 auto;
    height: 100%;
  }
}

.red-background {
  background-color: $red;
}

.blue-background {
  background-color: $blue;
}

.yellow-background {
  background-color: $yellow;
}

.skills {
  border-radius: 10px;
}

.skill-card {
  height: 550px;
  // background-color: $card-color;
  color: $text-color;
  padding-top: 20px;
}

.timeline-content {
  .event {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .institution {
    font-style: italic;
    font-weight: bold;
  }
  .date {
    font-size: 1.25rem;
  }
}

.project-card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  color: $text-color;

  img {
    width: 100%;
  }

  .center-image {
    background-color: $card-color;
    padding: 15px 15px 0px 15px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  background-color: $yellow;
  a {
    color: $text-color;
  }
  padding: 50px 0px 20px 0px;
}

.icon-size {
  vertical-align: bottom;
  margin: 0px 5px;
}
